# Unnescary big files
configs/plugin/BKCommonLib/minecraft/
configs/plugin/Citizens/lib/
configs/plugin/LuckPerms/libs/
configs/plugin/PlaceholderAPI/expansions/

# Translations
*.lang
configs/plugin/BreweryX/languages/
configs/plugin/BreweryX/configs
configs/plugin/CitizensCMD/lang/
configs/plugin/FastAsyncWorldEdit/lang/
configs/plugin/GSit/lang/
configs/plugin/LuckPerms/translations/
configs/plugin/My_Worlds/Localization.yml
configs/plugin/Quests/lang/
configs/plugin/Skript/lang/
configs/plugin/TAB/messages.yml
configs/plugin/VoxelSniper/lang.yml
configs/plugin/voicechat/translations.properties


# Data
*.db
configs/plugin/BreweryX/worlddata.yml
configs/plugin/BreweryX/worlddataBackup.yml
configs/plugin/FastAsyncWorldEdit/clipboard/
configs/plugin/FastAsyncWorldEdit/history/
configs/plugin/GSit/data/
configs/plugin/ImageFrame/players/
